*{
    font-size: 110%;
}

body,
ul {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}

#ButtonToTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 10;
    border: none;
    background-color: #B32134;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#ButtonToTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

#TitleBar {
    transition: 0.8s;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 5;
}

#TitleBar #logo {
    background: linear-gradient(to right, rgb(255, 255, 255), #ff8f8f 35%, #ff00a6);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}


#TitleBar #logo {
    color: #BD0F03;
    border: 8px solid #BD0F03;
    border-radius: 30px;
    display: inline;
    padding: 6px 12px;
    transition: 0.6s;
    z-index: 3;
}

/* Section 1 ------------------------------------------------------ */
.section1 {
    background: #FFFDD0;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    flex-wrap: wrap;
}

.section1 .text-container {
    flex: 1;
    padding-right: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1 img {
    flex: 1;
    max-width: 50%;
    height: auto;
}

.section1 h1 {
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.section1 p {
    color: rgb(0, 0, 0);
}









/* Section 2 ------------------------------------------------------ */

.section2 {
    overflow-x: hidden;
    background: #7C0A02;
    display: block;
}


.section2 h1 {
    padding-top: 8%;
    position: relative;
}


.section2 .projectTitle {
    color: white;
    position: absolute;
    display: inline-block;
    margin-top: 10%;
    text-align: center;
    width: 100%;
    z-index: 2;

}


div.scroll-container {
    background-color: #333;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-top: 2%;
    padding-left: 2%;
    height: 43%;

}

div.scroll-container .container img {
    height: 100%;
    opacity: 0.6;
    transition: 0.4s ease;
}

div.scroll-container .container img:hover {
    padding: 10px;
    opacity: 1;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;

}

div.scroll-container .container {
    display: inline;
    position: relative;
    width: 50%;
}

.imageButtons {
    padding: 10px;
    height: 90%;
    opacity: 0.7;
    transition: 0.4s ease;
    background: none;
}


div.card-back{
    display: inline;
    opacity: 0;
    position: absolute;
    color: white;
    left: 30%;
}

.projectButtons {
    position: absolute;
    display: inline;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}



a.projectLink {
    color: white;
    text-decoration: none;
}




/* Section 3 ------------------------------------------------------ */
.section3 {
    overflow-x: hidden;
    background: rgb(147, 73, 73);
    padding: 50px 100px;
    display: block;
    z-index: 1;
}

.section3 h1{
    color: white;
}

.section3 img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}










/* Section 4 ------------------------------------------------------ */
.section4 {
    overflow-x: hidden;
    background: rgb(0, 0, 0);
    padding: 50px 100px;
    display: block;
    z-index: 1;
}

.section4 li {
    width: 25%;
    display: inline-block;
}

.section4 ul {
    white-space: nowrap;
    max-width: 1200px;
    text-align: center;
}

.fa {
    padding: 20px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    text-decoration: none;
    border-radius: 80%;
    display: inline;
}


.fa:hover {
    opacity: 0.7;
}



.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: linear-gradient(to right, rgb(78, 91, 241), #ff8f8f 35%, #ff00a6);
    color: white;
}

.fa-linkedin {
    background: #3B5998;
    color: white;
}

.fa-github {
    background: #454545;
    color: white;
}